.about {
    width: 100%;
    height: 80vh;
    &__container {
        width: 65%;
        height: 100%;
        background-color: antiquewhite;
        margin: 0 auto;
        &__title {
            width: 100%;
            height: 100px;
            text-align: center;
            font-size: 40px;
            &_sub {
                font-size: 15px;
            }
        }
    }
}


@media screen and (max-width: 520px) {
    .about {
        width: 100%;
        height: 100vh;
        &__container {
            width: 100%;
            height: 100%;
        }
    }
}