.app {
  width: 100%;
  background-color: red;
}
.app-container {
  width: 85%;
  max-width: 1280px;
  background-color: blue;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .app-container {
    width: 100%;
  }
}
